# OS
.DS_Store

# Python
__pycache__/
*.pyc

# dbt secrets (never commit)
dbt/profiles.yml

# Airflow runtime files
airflow/logs/
airflow/airflow.db

# Local sample data
sample_data/

# Environment files
.env
.envrc
