version: "3.8"

services:

  dbt:
    build: ./dbt
    container_name: dbt_container
    volumes:
      - ./dbt/project:/usr/app/project
    working_dir: /usr/app/project
    command: ["bash"]

  airflow:
    image: apache/airflow:2.7.1
    container_name: airflow_container
    environment:
      AIRFLOW__CORE__LOAD_EXAMPLES: "False"
      AIRFLOW__CORE__EXECUTOR: "SequentialExecutor"
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: "sqlite:////root/airflow/airflow.db"
    volumes:
      - ./airflow/dags:/opt/airflow/dags
      - ./airflow/logs:/opt/airflow/logs
      - ./airflow/plugins:/opt/airflow/plugins
    ports:
      - "8080:8080"
    entrypoint: >
      bash -c "airflow db init &&
               airflow webserver & sleep 5 &&
               airflow scheduler"
